.productList {
    margin: 0 auto;
    
    &__container {
        max-width: 1200px;
        padding: 1rem;
        margin: 0 auto;
    }
    
    &__wrapper {
        background: #fff;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
    }
}
